.layout{
    width: 100%;
    height: 150vh;
}
.data{
    position: relative;
    top: 65px;
    overflow-x: hidden;
}
@media (min-width: 900px){
    .layout{
        height: 100vh;
    }
    .data{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        gap: 14px;
    }
}